<h1>New Rating for <%= link_to @task.title, @task %></h1>
<%= render "form", object: [task: @task, rating: @rating] %>
<section class="movie-details">
  <div class="details">
    <%= link_to "Back", task_task_ratings_path(@task), class: "review" %>
    </div>
</section>
