<%= render "form", model: [task: @task, rating: @rating] %>
<section class="movie-details">
  <div class="details">
    <%= link_to "Back", task_task_ratings_path(@task), class: "review" %>
</section>
