<h1>New Group</h1>

<%= render "form", object: [group: @group] %>
<section class="movie-details">
  <div class="details">
    <%= link_to "Back", groups_path(@group), class: "review" %>
    </div>
</section>
